body {
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.main-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #b31919;
}

.card {
    background-color: rgb(45, 88, 187);
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

td {
    padding: 0;
    text-align: center;
    border: none;
}

.profile-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card-content {
    padding-bottom: 15px;
}

.name {
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0 5px 0;
    color: white;
}


.description {
    color: #b9b8b8;
    margin: 5px 0;
    font-size: 14px;
}

.location {
    color: rgb(224, 100, 43);
    font-weight: bold;
    margin: 5px 0 15px 0;
    font-size: 14px;
}

.social-links img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.7;
}

.contact-btn {
    width: 100%;
    background-color: rgb(224, 100, 43);
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 0;
    font-size: 16px;
}