html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
}
td {
    width: 50%;
    font-style: italic;
    font-weight: bold; 
}